body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    background-image: url(../art/background.png);
}

.main-header {
    display: flex;
    justify-content: space-between;
}
h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.main-logo {
    height: 50px;
    width: 50px;
    background-image:url(../art/logo.png) ;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
}
a:hover {
    background-color: rgba(170, 211, 247, 0.438);
    font-size: 18px;
    border-radius: 10%;
  }
nav>a {
    text-decoration: none;
    color: black;
    border: none;
    padding: 8px;
    border-radius: 30%;
}

.banner-img {
    height: 500px;
    background-image: url(../art/banner.png);
    background-size: cover;
    background-position: center;
}
.banner-img:hover{
  background-image: url(../art/welcome.png);
  border: #000;
  background-size: cover
  

}
.main>section {
    height: 800px;
    

}
.about-me-text{
 
  
}
.aside{
  width: 40%;
  
  padding: 20px;
  margin: auto;
}
.section{
  width: 20%;
  
  padding: 20px;
  margin: auto;
}
.article{
  width: 40%;
  
  padding: 20px;
  margin: auto;
}

.slider{
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.slider .list{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item{
  width: 200px;
  height: 400px;
  position: absolute;
  left: 100%;
  animation: autoRun 20s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}

.slider .list .item img{
  width: 250%;
}

@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}
.slider:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
}
.slider .item:hover{
  filter: grayscale(0);
}
.slider[reverse="true"] .item{
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
  from{
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}
.section-content {
    
        text-align: center;
        font-size: x-large;
}
.message-us-section{
    display: flex;
    height: 50px;

}

.contact {
  display: flex;
  flex-direction: column;

}

button:hover{
background-color: rgba(170, 211, 247, 0.438);
font-size: 18px;
border-radius: 10%;
}



.wrapper {
    
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-grow: 1;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
    }
    

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: right;
    text-decoration: none;
    margin:0px;
    padding: auto;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    align-content:center;
    flex-direction: row;
    
  }
  .wrapper .button:hover {
    width: 200px;
  }
  .wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    color: #000;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon {
    background: #000000;
  }
  .wrapper .button:nth-child(2):hover .icon {
    background: #000000;
  }
  .wrapper .button:nth-child(3):hover .icon {
    background: #000000;
  }
  .wrapper .button:nth-child(4):hover .icon {
    background: #000000;
 
  }
  .wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i {
    color: #fff;
  }
  .wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span {
    color: #000000;
  }
  .wrapper .button:nth-child(2) span {
    color: #000000;
  }
  .wrapper .button:nth-child(3) span {
    color: #141414;
  }
  .wrapper .button:nth-child(4) span {
    color: #000000;
  }
  


  .footer {
    text-align: center;
    padding: 16px;
    font-family: monospace;
    font-size: 14px;
    
    
  }
  
