body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.main-header {
    display: flex;
    justify-content: space-between;
}
h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.main-logo {
    height: 50px;
    width: 50px;
    background-image:url(../logo.png) ;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
}
a:hover {
    background-color: rgba(170, 211, 247, 0.438);
    font-size: 18px;
    border-radius: 10%;
  }
nav>a {
    text-decoration: none;
    color: black;
    border: none;
    padding: 8px;
    border-radius: 30%;
}

.banner-img {
    height: 500px;
    background-image: url(../banner.jpg);
    background-size: cover;
    background-position: center;
    
}



main>section {
    height: 800px;

}
.our-profile-section{

}
.section-content {
    
        text-align: center;
        font-size: x-large;
}

.contact {

}

button:hover{
background-color: rgba(170, 211, 247, 0.438);
font-size: 18px;
border-radius: 10%;
}
.contact>a {

}

footer {
    text-align: center;
}